{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
    <h2 style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;">
        <br>Your Blogs<br><br>
    </h2>
    {% for blog in allblog %}
    <div class="btn btn-outline-secondary">
        <p><span style="font-weight: bold; font-size: 15px;">{{ blog.id }}. {{ blog.blogtitle }} </span></p>
        <p><b>Created on:</b> {{ blog.dateposted }}</p>
        <p>{{ blog.blogcontent }}</p>
    </div>
    <p><br></p>
    {% endfor %}
</div>
{% endblock %}