{% extends "base.html" %}

{% block body %}

<div class="container-form">
    <h1 style="text-align: center;">Create a new Post</h1>
    <form id="create" action="" method="POST" class="create-form" role="form">
        <div class="mb-3">
            <label for="blogtitle" class="form-label">Blog Title</label>
            {{ form.blogtitle() }}
        </div>
        <div class="mb-3">
            <label for="blogcontent" class="form-label">Blog Content</label>
            {{ form.blogcontent() }}
        </div>
        <button type="submit" class="btn btn-primary">Add Post</button>
    </form>
</div>
{% endblock %}