{% extends "base.html" %}

{% block body %}
<div class="container">
  <button type="button" class="btn btn-outline-dark" onclick="window.location.href='/create';">
    + Create a post
  </button>
</div>
<div class="blog">
  <h2><br><br>Your Blogs</h2>
  {% for blog in allblog %}
  <div class="btn btn-outline-secondary">

    <p><span style="font-weight: bold; font-size: 15px;">{{ blog.id }}. {{ blog.blogtitle }}</span></p>
    <p><b>Created on:</b> {{ blog.dateposted }}</p>

    <a class="article-title" href="{{ url_for('showblog', id=blog.id) }}">
      Read ->
    </a>
  </div>
  {% endfor %}
</div>
</div>

{% for blog in allblog %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ blog.blogtitle }}</a>
      <small class="text-muted">{{ blog.dateposted }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ blog.blogtitle }}</a></h2>
  </div>
</article>
{% endfor %}
{% endblock %}